.start-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.75);
}

.start-wrapper--hide{
    display: none;
}

.start{
    background: white;
    max-width: 60%;
    padding: 4rem; 
    line-height: 1.5;
}

.start__title{
    margin-bottom: 1.5rem;
}

.start__instructions{
    p{
        margin-bottom: 1.5rem;
    }
}

.start__launch{
    font-size: 1.8rem;
    font-weight: bold;
}