$key_base_size: 6.666666667%;

.keyboard{}

.keyboard__row{
    display: flex;
    justify-content: space-between;
}

.keyboard__key{
    position: relative;
    width: $key_base_size;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin: 0.25%;
    @include aspect-ratio(1,1);
}

.keyboard__key__letter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2.5vw;
}

.keyboard__key--size-2{
    width: $key_base_size * 1.25;
    @include aspect-ratio(1.25,1);
}

.keyboard__key--size-3{
    width: $key_base_size * 2;
    @include aspect-ratio(2,1);
}

.keyboard__key--size-4{
    width: $key_base_size * 1.5;
    @include aspect-ratio(1.5,1);
}

.keyboard__key--size-5{
    width: $key_base_size * 1.75;
    @include aspect-ratio(1.75,1);
}

.keyboard__key--size-6{
    width: $key_base_size * 2.25;
    @include aspect-ratio(2.25,1);
}

.keyboard__key--size-7{
    width: $key_base_size * 2.75;
    @include aspect-ratio(2.75,1);
}

.keyboard__key--size-8{
    width: $key_base_size * 6.25;
    @include aspect-ratio(6.25,1);
}